<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Wikileaks - LeakSpin</title>
    
    <link rel='stylesheet' href='/css/boilerplate.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='/css/jquery-ui.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='/css/master.css' type='text/css' media="screen, projection"> 
    <link rel='stylesheet' href='/css/960.css' type='text/css' media="screen, projection"> 
    
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jeditable.js"></script>
    <script type="text/javascript" src="/js/answers.js"></script>
</head>
<body>

<div id="header" class="container_12">
    <div class="bar"></div> 
    <div class="nav"> 
        <a href="/">Main</a>
        <a href="/answers">Answers</a>
        <a href="http://git.tetalab.org/index.php/p/cablegate/source/tree/master/">Code</a>
    </div>
</div>

<div id="content" class="container_12">

    <div id="questions_panel" class="grid_5">
        <ul id="selectable_questions">
            <% @questions.each do |question| %>
            <li><a id='question-<%= question.id %>' class='question-metadata'><%= question.metadata_name %></a></li>
            <% end %>
        </ul>
        
        <div id='metadata_list'></div>
        <a id='more_metadatas'>More...</a>
        <input type="hidden" name="current_offset" value="0" id="current_offset">
    </div>
    
    <div id="cable_panel" class="grid_7">
        <code>
            <pre>
            </pre>
        </code>
    </div>

</div>

                

<div id="footer" class="container_12"></div>
            
</body>
</html>