<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Wikileaks - LeakSpin</title>
    
    <link rel='stylesheet' href='/css/boilerplate.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='/css/jquery-ui.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='/css/master.css' type='text/css' media="screen, projection"> 
    <link rel='stylesheet' href='/css/960.css' type='text/css' media="screen, projection"> 
    
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>

<div id="header" class="container_12">
    <div class="bar"></div> 
    <div class="nav"> 
        <a href="/">Main</a>
        <a href="/answers">Answers</a>
        <a href="http://git.tetalab.org/index.php/p/cablegate/source/tree/master/">Code</a>
    </div>
</div>

<div id="content" class="container_12">

    <div id="spin_panel" class="grid_4 ">
        <a href="/" id='logo'><img style="border:none;" src="/images/wlogo.png" class="logo" alt="WikiLeaks Blog" width='80px' height='184px'/></a>
        
        <h2>Wikileaks - LeakSpin</h2>
        <p>
            Human parser of <a href='http://wikileaks.ch/cablegate.html'>Wikileaks Cablegate</a>: answer questions by selecting text in panel on the right to help build a <a href='/answers'>database of verified metadata</a> on each cable.<br>
            This parsing will help building new website to consult <a href="http://wikileaks.ch/cablegate.html">Wikileaks Cablegate</a>, like the <a href='http://wikileaks.tetalab.org/mobile/'>Mobile Cablegate</a>

        <div id='question-box' class='box'>
            <div id="spin_question"></div>
            <div id="spin_question_help"></div>
            <div id="spin_question_stats">
                <div id="progress"></div>
                <div id="progressbar"></div>
            </div>
        </div>
        
        <div id='answer-box' class='box'>
            <div id="spin_metadata_value"></div>
        </div>
        
        <div id="spin_status" class='box'>Loading...</div>
        
        <div id='cable_links'>
            <div id="spin_no_answer"><a id='no_answer' style='color:#A00'>No answer? &#x2192;</a></div>
            <div id="spin_next"><a id='next_question'>Next fragment &#x2192;</a></div>
            <div id="spin_permalink"><a>Full cable &#x2192;</a></div>
        </div>
        
        <input type="hidden" name="spin_metadata_name" value="" id="spin_metadata_name">
        <input type="hidden" name="spin_fragment_id" value="" id="spin_fragment_id">
        <input type="hidden" name="spin_question_id" value="" id="spin_question_id">
        <input type="hidden" name="spin_question_type" value="" id="spin_question_type">
    </div>

    <div id="cable_panel" class="grid_8 ">
        <code>
            <pre>
            </pre>
        </code>
    </div>

</div>

                

<div id="footer" class="container_12"></div>
            
</body>
</html>