/*

Nav bar

*/

div.nav {
  float: right;
  margin-right: 20px;
}
div.nav a {
  background-color: #8ED1E0;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  margin: 0px 0px 0px 15px;
}
div.nav a:hover {
  background-color: #333;
}
div.bar {
  width: 960px;
  height: 7px;
  background-color: #8ED1E0;
}

.box{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size:16px;
  padding:5px;
  margin-top:30px;
}

#question-box{
  background-color:#E8D48D;
  color:#333;
}

#answer-box{
  background-color:#EEDDCC;
  color:#333;
}

::selection {
  background: #E8D48D;
  color: white;
  text-shadow: none;
  background: #E8D48D;
  color: white;
  text-shadow: none;
}

/*

Panel with details

*/

#spin_panel a#logo{
  float:left;
  padding:10px;
}

#spin_panel h2{
  padding:20px 5px;
  font-size:20px;
}

#spin_panel a{
  cursor: pointer;
}

#spin_permalink a {
  text-decoration:none;
}

#spin_question {
  padding: 5px 10px;
}

#spin_question_help {
  padding: 5px 10px;
  font-style: italic;
  font-size:12px;
}

#progressbar .ui-progressbar{
  height: 3px;
}

#progress{
  font-size: 12px;
  padding-left: 10px;
}

#progress a{
  color: #33A;
  text-decoration: none;
}


#spin_metadata_value {
  font-size:14px;
}

#spin_status {
  padding: 5px 10px;
  font-style: italic;
  background-color:#757B7E;
  font-size: 2em;
  color:#AAA;
  text-align:center;
}

#spin_status a {
  color:#FFF;
}

#spin_no_answer{
  margin-top:20px;
  float:right;
}

#spin_next {
}

#cable_links{
  float:right;
}

#spin_permalink{
  float:right;
}

/*

Panel with cable

*/

pre {
    white-space: pre-wrap;
    text-align: justify;
    border: 1px solid #aaa;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
}